{% extends 'base.html.twig' %}

{% block title 'Edit Pin' %}

{% block body %}
<h1>Update Pin #{{pin.id}}</h1>


{{include('pins/_form.html.twig', {'submitButtonText' : 'Update Pin'})}}

    

{% endblock %}
