{% extends 'layouts/base.html.twig' %}

{% block title 'Edit Pin' %}

{% block body %}


    <div class="row">
        <div class="col-6 mx-auto">
             <h1>Update Pin #{{pin.id}}</h1>
            {{include('layouts/partials/_form.html.twig', {'submitButtonText' : 'Update Pin'})}}
        </div>
    </div>

        

    

{% endblock %}
