{% extends 'layouts/base.html.twig' %}

{% block title 'Edit Pin' %}

{% block body %}


    <div class="row">
        <div class="col-4 mx-auto">
             <h1>Update Pin #{{pin.id}}</h1>
             {% if existingImage  %}
             <div class="col-12">
                <img src="{{ asset('uploads/'~ pin.imageName) }}" class="img-thumbnail img-100" alt="Uploaded Image">
             </div>
             {% endif %}
           

            {{include('layouts/partials/_form.html.twig', {'submitButtonText' : 'Update Pin'})}}
        </div>
    </div>

        

    

{% endblock %}
