{% extends 'base.html.twig' %}

{% block title %}Pinterest!{% endblock %}

{% block body %}
<h1>{{Pluralize(pins|length,'pin')}}</h1>

{% for pin in pins %}
    
<article>
<p>{{pin.id}}</p>
<h2><a href="#">{{pin.title}}</a></h2>
<p><a href="#">{{pin.description}}</a></p>
</article>
    
{% endfor %}
{% endblock %}
