@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');
@import 'shared/variables';
@import "~bootstrap/scss/bootstrap";

html, body{
	font-family: $primay-font, sans-serif;
  
}
section{
	h1{
		background-color: yellow;
	}
}
.alert{
    padding: 10px;
    color:white;
    text-align : center;
	margin : 0;
	border:none;
	border-radius : 0;
}

.alert-success{
    background-color : green;
}

.alert-info{
	background-color : blue;
}

.img300{

	width: 300px;
	height: 300px;
}

.img-100{
	width: 100%;
	height: 450px;
}

.pin img{
	transition: transform 0.3s ease-out;
 	&:hover{
		transform: scale(1.075);
 	}
}

/**Helpers**/

.pl-3{
	padding-left: 1rem;
}


.pr-3{

	padding-right: 1rem !important;
}

.ml-5{
	margin-left: 1rem;
}

.mr-5{
	margin-right: 1rem;
}

		